pre {
}

#text {
    border: 1px dashed gray;
    padding: 2px;
    margin: 5px;
    background: #D4F3EA;
}

#output {
    border: 1px dashed gray;
    padding: 2px;
    margin: 5px;
}

.cursor:before {
    content: ".";
    background: black;
    color: black;
}
}
