pre {
}

#text {
    border: 1px dashed gray;
    padding: 2px;
    margin: 5px;
    background: #D4F3EA;
}

#output {
    border: 1px dashed gray;
    padding: 2px;
    margin: 5px;
}

/* #output.blink > :last-child:after { */
/*     content: "\00a0"; */
/*     background: black; */
/* } */

/* #output > :last-child:after { */
/*     content: "\00a0"; */
/* } */

.cursor:after {
    content: "<<<";
}