body {
    background: #222;
    padding: 5%;
}

body, a {
    color: white;
}

pre {
    font-size: 12px;
}

#input, .input, .jquery-input, .style-input {
    border: 1px dotted lightgreen;
    padding: 10px;
    margin: 5px 0;
}

#output, .output, .jquery-output, .style-output {
    border: 1px dotted pink;
    padding: 10px;
    margin: 5px 0;
}
